importing libraries

In [1]:
import pandas as pd
import numpy as np

dataset

In [2]:
df = pd.read_csv("dataset\Online_Courses.csv")

In [3]:
df.head()

,Unnamed: 0,Title,URL,Short Intro,Category,Sub-Category,Course Type,Language,Subtitle Languages,Skills,...,Course Short Intro,Weekly study,Premium course,What's include,Rank,Created by,Program,Number of ratings,Price,COURSE CATEGORIES
0,0,Machine Learning Specialization,https://www.coursera.org/specializations/machi...,#BreakIntoAI with Machine Learning Specializat...,Data Science,Machine Learning,Specialization,English,Subtitles: English,"Decision Trees, Artificial Neural Network, Log...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,Introduction to Data Science Specialization,https://www.coursera.org/specializations/intro...,Launch your career in data science. Gain found...,Data Science,Data Analysis,Specialization,English,"Subtitles: English, Arabic, French, Portuguese...","Data Science, Relational Database Management S...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,Data Science Fundamentals with Python and SQL ...,https://www.coursera.org/specializations/data-...,Build the Foundation for your Data Science car...,Data Science,Data Analysis,Specialization,English,"Subtitles: English, Arabic, French, Portuguese...","Data Science, Github, Python Programming, Jupy...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,Key Technologies for Business Specialization,https://www.coursera.org/specializations/key-t...,Get Ahead with Key Business Technologies. Gain...,Business,Business Essentials,Specialization,English,"Subtitles: English, Arabic, French, Portuguese...","Data Science, Artificial Intelligence (AI), Bu...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,Deep Learning Specialization,https://www.coursera.org/specializations/deep-...,Become a Machine Learning expert. Master the f...,Data Science,Machine Learning,Specialization,English,"Subtitles: English, Chinese (Traditional), Ara...","Artificial Neural Network, Convolutional Neura...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Dealing with nan values:

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8092 entries, 0 to 8091
Data columns (total 45 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             8092 non-null   int64
 1   Title                  8092 non-null   object
 2   URL                    8092 non-null   object
 3   Short Intro            8040 non-null   object
 4   Category               2819 non-null   object
 5   Sub-Category           2819 non-null   object
 6   Course Type            2819 non-null   object
 7   Language               2819 non-null   object
 8   Subtitle Languages     2802 non-null   object
 9   Skills                 2099 non-null   object
 10  Instructors            2808 non-null   object
 11  Rating                 2742 non-null   object
 12  Number of viewers      2695 non-null   object
 13  Duration               7944 non-null   object
 14  Site                   8092 non-null   object
 15  Program Type           282 non-null    object
 16  Courses                4944 non-null   object
 17  Level                  181 non-null    object
 18  Number of Reviews      47 non-null     object
 19  Unique Projects        0 non-null      float64
 20  Prequisites            281 non-null    object
 21  What you learn         278 non-null    object
 22  Related Programs       85 non-null     object
 23  Monthly access         98 non-null     object
 24  6-Month access         2 non-null      object
 25  4-Month access         38 non-null     object
 26  3-Month access         26 non-null     object
 27  5-Month access         2 non-null      object
 28  2-Month access         10 non-null     object
 29  School                 271 non-null    object
 30  Topics related to CRM  4666 non-null   object
 31  ExpertTracks           4843 non-null   object
 32  FAQs                   1083 non-null   object
 33  Course Title           4843 non-null   object
 34  Course URL             4843 non-null   object
 35  Course Short Intro     4843 non-null   object
 36  Weekly study           4843 non-null   object
 37  Premium course         1622 non-null   object
 38  What's include         419 non-null    object
 39  Rank                   37 non-null     object
 40  Created by             37 non-null     object
 41  Program                148 non-null    object
 42  Number of ratings      126 non-null    object
 43  Price                  65 non-null     float64
 44  COURSE CATEGORIES      148 non-null    object
dtypes: float64(2), int64(1), object(42)
memory usage: 2.8+ MB

In [5]:
df.shape

(8092, 45)

In [6]:
df.isna().sum()

Unnamed: 0                  0
Title                       0
URL                         0
Short Intro                52
Category                 5273
Sub-Category             5273
Course Type              5273
Language                 5273
Subtitle Languages       5290
Skills                   5993
Instructors              5284
Rating                   5350
Number of viewers        5397
Duration                  148
Site                        0
Program Type             7810
Courses                  3148
Level                    7911
Number of Reviews        8045
Unique Projects          8092
Prequisites              7811
What you learn           7814
Related Programs         8007
Monthly access           7994
6-Month access           8090
4-Month access           8054
3-Month access           8066
5-Month access           8090
2-Month access           8082
School                   7821
Topics related to CRM    3426
ExpertTracks             3249
FAQs                     7009
Course Title             3249
Course URL               3249
Course Short Intro       3249
Weekly study             3249
Premium course           6470
What's include           7673
Rank                     8055
Created by               8055
Program                  7944
Number of ratings        7966
Price                    8027
COURSE CATEGORIES        7944
dtype: int64

In [7]:
space_only_count = (df.applymap(lambda x: isinstance(x, str) and x.strip() == '')).sum().sum()
print(f"Number of cells containing only spaces: {space_only_count}")

Number of cells containing only spaces: 0

C:\Users\MALAK\AppData\Local\Temp\ipykernel_1712\1651807243.py:1: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  space_only_count = (df.applymap(lambda x: isinstance(x, str) and x.strip() == '')).sum().sum()

In [8]:
df["Price"] = df["Price"].fillna(0)
df["Price"].value_counts()

Price
0.0       8027
1069.0       6
534.0        5
748.0        5
427.0        4
1149.0       4
855.0        4
320.0        3
1099.0       3
159.0        2
962.0        2
129.0        2
149.0        2
1079.0       1
1284.0       1
695.0        1
1249.0       1
249.0        1
2799.0       1
990.0        1
349.0        1
1125.0       1
1299.0       1
1949.0       1
1497.0       1
199.0        1
699.0        1
799.0        1
1400.0       1
4600.0       1
1049.0       1
1390.0       1
1604.0       1
694.0        1
1199.0       1
949.0        1
Name: count, dtype: int64

In [9]:
df["Skills"] = df["Skills"].fillna("Unknown")

In [10]:
#delete cols with less than 30% not null values:
df = df.dropna(axis=1, thresh=len(df)*0.3)

In [11]:
df.isna().sum()

Unnamed: 0                  0
Title                       0
URL                         0
Short Intro                52
Category                 5273
Sub-Category             5273
Course Type              5273
Language                 5273
Subtitle Languages       5290
Skills                      0
Instructors              5284
Rating                   5350
Number of viewers        5397
Duration                  148
Site                        0
Courses                  3148
Topics related to CRM    3426
ExpertTracks             3249
Course Title             3249
Course URL               3249
Course Short Intro       3249
Weekly study             3249
Price                       0
dtype: int64

In [12]:
df["Rating"] = df["Rating"].str.strip("stars")
df['Rating'] = df['Rating'].replace("", np.nan).astype(float)
df["Rating"] = df["Rating"].fillna(df["Rating"].median())
df["Rating"].value_counts()

Rating
4.7    6137
4.8     741
4.6     433
4.5     276
4.9     215
4.4     126
4.3      49
4.2      45
4.1      16
4.0      12
5.0      11
3.9      11
3.8       7
3.6       6
3.7       2
3.5       2
3.3       1
3.4       1
3.1       1
Name: count, dtype: int64

In [13]:
df["Category"] = df["Category"].fillna("Unknown")

In [14]:
df["Category"].isna().sum()

0

In [15]:
df["Duration"].value_counts()

Duration
4 weeks                           1474
3 weeks                           1358
2 weeks                           1292
5 weeks                            329
6 weeks                            274
                                  ...
Estimated timeApprox. 1 Hour         1
4 months at 5 hours a week           1
Estimated timeApprox. 10 Weeks       1
1.5 hours                            1
1 Hour                               1
Name: count, Length: 178, dtype: int64

In [16]:
import re

def convert_to_hours(text):
    text = str(text)
    
    # Cas où c'est en heures
    match_hours = re.search(r'(\d+)\s*hours?', text)
    if match_hours:
        return float(match_hours.group(1))
    
    # Cas où c'est en mois et heures par semaine
    match_months = re.search(r'(\d+)\s*months?\s*at\s*(\d+)\s*hours?', text)
    if match_months:
        months = int(match_months.group(1))
        hours_per_week = int(match_months.group(2))
        hours_total = months * 4 * hours_per_week  # approximation : 4 semaines par mois
        return hours_total
    
    # Cas où c'est "1 month to complete" sans heures par semaine
    match_month_only = re.search(r'(\d+)\s*months?', text)
    if match_month_only:
        months = int(match_month_only.group(1))
        hours_total = months * 4 * 2  # estimation : 2h/semaine par défaut
        return hours_total
    
    return None  # si pas reconnu

df["Duration"] = df["Duration"].apply(convert_to_hours)
df["Duration"].value_counts()

Duration
10.0     167
32.0     164
8.0      152
9.0      141
13.0     138
        ...
44.0       1
105.0      1
75.0       1
60.0       1
63.0       1
Name: count, Length: 71, dtype: int64

In [17]:
Duration_dict = df.groupby("Category")["Duration"].mean().to_dict()
df["Duration"] = df["Duration"].fillna(df["Category"].map(Duration_dict))

In [18]:
df["Number of viewers"] = df["Number of viewers"].str.extract(r'(\d[\d,]*)')
df["Number of viewers"] = df["Number of viewers"].str.replace(",", ".", regex=False)
df["Number of viewers"] = df["Number of viewers"].astype(float)

In [19]:
df["Number of viewers"] = df["Number of viewers"].fillna(df["Number of viewers"].median())
df["Number of viewers"] = df["Number of viewers"].astype(int)

In [20]:
df.isna().sum()

Unnamed: 0                  0
Title                       0
URL                         0
Short Intro                52
Category                    0
Sub-Category             5273
Course Type              5273
Language                 5273
Subtitle Languages       5290
Skills                      0
Instructors              5284
Rating                      0
Number of viewers           0
Duration                    0
Site                        0
Courses                  3148
Topics related to CRM    3426
ExpertTracks             3249
Course Title             3249
Course URL               3249
Course Short Intro       3249
Weekly study             3249
Price                       0
dtype: int64

In [21]:
df = df.fillna("Unkown")

In [22]:
df.isna().sum()

Unnamed: 0               0
Title                    0
URL                      0
Short Intro              0
Category                 0
Sub-Category             0
Course Type              0
Language                 0
Subtitle Languages       0
Skills                   0
Instructors              0
Rating                   0
Number of viewers        0
Duration                 0
Site                     0
Courses                  0
Topics related to CRM    0
ExpertTracks             0
Course Title             0
Course URL               0
Course Short Intro       0
Weekly study             0
Price                    0
dtype: int64

In [23]:
df.dtypes

Unnamed: 0                 int64
Title                     object
URL                       object
Short Intro               object
Category                  object
Sub-Category              object
Course Type               object
Language                  object
Subtitle Languages        object
Skills                    object
Instructors               object
Rating                   float64
Number of viewers          int32
Duration                 float64
Site                      object
Courses                   object
Topics related to CRM     object
ExpertTracks              object
Course Title              object
Course URL                object
Course Short Intro        object
Weekly study              object
Price                    float64
dtype: object

In [24]:
df = df.drop(["Unnamed: 0","Topics related to CRM","ExpertTracks","Course Title","Course URL","Course Short Intro","Weekly study","Subtitle Languages"],axis=1)

dealing with cols types:

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8092 entries, 0 to 8091
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Title              8092 non-null   object
 1   URL                8092 non-null   object
 2   Short Intro        8092 non-null   object
 3   Category           8092 non-null   object
 4   Sub-Category       8092 non-null   object
 5   Course Type        8092 non-null   object
 6   Language           8092 non-null   object
 7   Skills             8092 non-null   object
 8   Instructors        8092 non-null   object
 9   Rating             8092 non-null   float64
 10  Number of viewers  8092 non-null   int32
 11  Duration           8092 non-null   float64
 12  Site               8092 non-null   object
 13  Courses            8092 non-null   object
 14  Price              8092 non-null   float64
dtypes: float64(3), int32(1), object(11)
memory usage: 916.8+ KB

In [26]:
df["Rating"] = df["Rating"].astype(float)
df["Rating"].dtype

dtype('float64')

In [27]:
df["Rating"].value_counts()

Rating
4.7    6137
4.8     741
4.6     433
4.5     276
4.9     215
4.4     126
4.3      49
4.2      45
4.1      16
4.0      12
5.0      11
3.9      11
3.8       7
3.6       6
3.7       2
3.5       2
3.3       1
3.4       1
3.1       1
Name: count, dtype: int64

In [28]:
df["Duration"].astype("int")

0       24
1       40
2       56
3       24
4       40
        ..
8087    23
8088    23
8089    23
8090    23
8091    23
Name: Duration, Length: 8092, dtype: int32

In [29]:
df["Number of viewers"].value_counts()

Number of viewers
45     5403
1       381
2       195
3       122
5        68
       ...
665       1
761       1
719       1
859       1
723       1
Name: count, Length: 650, dtype: int64

In [30]:
df["Number of viewers"].describe()

count    8092.000000
mean       88.417079
std       155.520183
min         1.000000
25%        45.000000
50%        45.000000
75%        45.000000
max       986.000000
Name: Number of viewers, dtype: float64

In [31]:
df["Price"].value_counts()

Price
0.0       8027
1069.0       6
534.0        5
748.0        5
427.0        4
1149.0       4
855.0        4
320.0        3
1099.0       3
159.0        2
962.0        2
129.0        2
149.0        2
1079.0       1
1284.0       1
695.0        1
1249.0       1
249.0        1
2799.0       1
990.0        1
349.0        1
1125.0       1
1299.0       1
1949.0       1
1497.0       1
199.0        1
699.0        1
799.0        1
1400.0       1
4600.0       1
1049.0       1
1390.0       1
1604.0       1
694.0        1
1199.0       1
949.0        1
Name: count, dtype: int64

In [32]:
df["Courses"].value_counts()

Courses
Unkown                              3148
676 Courses                          676
381 Courses                          378
314 Courses                          314
259 Courses                          259
                                    ...
Learn Intermediate JavaScript          1
Java Programming                       1
Data Streaming                         1
Learn Foundational AI Algorithms       1
Data Privacy                           1
Name: count, Length: 147, dtype: int64

In [33]:
df["Skills"].value_counts()

Skills
Unknown                                                                                                                 5993
Financial Accounting,Accounting,Financial Statement,Balance Sheet,                                                         8
Google Compute Engine,Google App Engine (GAE),Google Cloud Platform,Cloud Computing,                                       8
Data Science,Information Engineering,Artificial Intelligence (AI),Machine Learning,Python Programming,                     6
Cloud Native,Devops,Iaas PaaS Saas,Hybrid Multicloud,Cloud Computing,                                                      6
                                                                                                                        ...
Python Programming,Tableau Software,Data Visualization (DataViz),Effective Communication,Exploratory Data Analysis,        1
Inductive Transfer,Augmentation,Dropouts,Machine Learning,Tensorflow,                                                      1
Financial Accounting,Accounting,Financial Statement,Interpretation,                                                        1
Spreadsheet,Google Sheets,Data Analysis,Data Reporting,Data Visualization (DataViz),                                       1
 AI Fairness, Ethical AI, AI Governance, AI Transparency, Explainable AI, Model Bias Analysis, Model Bias Mitigation       1
Name: count, Length: 1814, dtype: int64

In [34]:
df.head()

,Title,URL,Short Intro,Category,Sub-Category,Course Type,Language,Skills,Instructors,Rating,Number of viewers,Duration,Site,Courses,Price
0,Machine Learning Specialization,https://www.coursera.org/specializations/machi...,#BreakIntoAI with Machine Learning Specializat...,Data Science,Machine Learning,Specialization,English,"Decision Trees, Artificial Neural Network, Log...","Andrew Ng ,Eddy Shyu ,Aarti Bagul ,Geoff Ladwig ,",4.9,10,24.0,Coursera,Unkown,0.0
1,Introduction to Data Science Specialization,https://www.coursera.org/specializations/intro...,Launch your career in data science. Gain found...,Data Science,Data Analysis,Specialization,English,"Data Science, Relational Database Management S...","Rav Ahuja ,Alex Aklson ,Aije Egwaikhide ,Svetl...",4.7,11,40.0,Coursera,Unkown,0.0
2,Data Science Fundamentals with Python and SQL ...,https://www.coursera.org/specializations/data-...,Build the Foundation for your Data Science car...,Data Science,Data Analysis,Specialization,English,"Data Science, Github, Python Programming, Jupy...","Aije Egwaikhide ,Svetlana Levitan ,Romeo Kienz...",4.6,2,56.0,Coursera,Unkown,0.0
3,Key Technologies for Business Specialization,https://www.coursera.org/specializations/key-t...,Get Ahead with Key Business Technologies. Gain...,Business,Business Essentials,Specialization,English,"Data Science, Artificial Intelligence (AI), Bu...","Rav Ahuja ,Alex Aklson ,",4.7,1,24.0,Coursera,Unkown,0.0
4,Deep Learning Specialization,https://www.coursera.org/specializations/deep-...,Become a Machine Learning expert. Master the f...,Data Science,Machine Learning,Specialization,English,"Artificial Neural Network, Convolutional Neura...","Andrew Ng ,Kian Katanforoosh ,Younes Bensouda ...",4.9,129,40.0,Coursera,Unkown,0.0

In [35]:
columns_to_keep = ['Title','Category','Rating','Price','Duration','Skills','Number of viewers',
                   'Instructors','Language','Site','Course Type','Courses']
df = df[columns_to_keep]

In [36]:
df.to_csv("online_courses_cleaned.csv", index=False, sep=';', encoding='utf-8-sig', float_format='%.1f', decimal=",")